.container
  %h1.center Welcome
  %section
    .col-md-2
      Tags
    .col-md-10
      - images.each do |i|
        .home-images-index
          = image_tag i.picture.url(:thumb), class: 'homepage-image'