default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: python-no-thanks_development

test:
  <<: *default
  database: python-no-thanks_test

production:
  <<: *default
