# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7ac43f5128e43db1d661801285ddc94aad375a77dd01b827bbac6339034dc984196630870d73cefd81cc393159b9f2bc006302dab32ac77f7821b8e687709d69

test:
  secret_key_base: 1bb6bce7bd11d884766e62f83f805d6b89e9140a986966193265f9f65c5cf3f5b70460ebba14293e7eb56a0331a9aaad05aec729d6aac144f82190f65414ced4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
